.Rproj.user
/CMakeCache.txt
/CMakeDoxyfile.in
/CMakeDoxygenDefaults.cmake
/CMakeFiles
/Makefile
/cmake_install.cmake
/doc/doxyfile.config
bin
/craam/eigen-eigen-5a0156e40feb
/include/Eigen
/data
/craam.pro.user
/out
build
/python/craam.egg-info
/python/craam/crobust.cpp
dist
/python/craam/__pycache__
*.so
